In [24]:
import pandas as pd

In [25]:
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.svm import SVC

In [26]:
data=pd.read_csv("C:\TechieNest\ml\iris.csv")

In [27]:
data.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [28]:
data.columns=list(["a","b","c","d"]+["class"])

In [29]:
data.head()

     a    b    c    d        class
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [30]:
x=data.drop("class",axis=1)

In [31]:
y=data["class"]

In [32]:
x_tr,x_ts,y_tr,y_ts=train_test_split(x,y,test_size=0.2)

In [38]:
algo=SVC(kernel="linear")

In [39]:
algo.fit(x_tr,y_tr)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [40]:
algo.score(x_ts,y_ts)

1.0

In [43]:
a=cross_val_score(algo,x_tr,y_tr,cv=10)

In [44]:
a.mean()

0.9839743589743589

In [50]:
a.predict(x_ts)

AttributeError: 'numpy.ndarray' object has no attribute 'predict'

In [49]:
y_ts

135     Iris-virginica
46         Iris-setosa
47         Iris-setosa
31         Iris-setosa
113     Iris-virginica
67     Iris-versicolor
3          Iris-setosa
110     Iris-virginica
43         Iris-setosa
63     Iris-versicolor
64     Iris-versicolor
69     Iris-versicolor
14         Iris-setosa
132     Iris-virginica
144     Iris-virginica
58     Iris-versicolor
94     Iris-versicolor
103     Iris-virginica
146     Iris-virginica
9          Iris-setosa
19         Iris-setosa
134     Iris-virginica
89     Iris-versicolor
122     Iris-virginica
2          Iris-setosa
148     Iris-virginica
68     Iris-versicolor
37         Iris-setosa
24         Iris-setosa
49     Iris-versicolor
Name: class, dtype: object