In [166]:
import pandas as pd

In [167]:
dt=pd.read_csv("reviews.csv",nrows=1000)

In [168]:
dt.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [169]:
dt=dt[['Score','Text']]

In [170]:
dt['Score']

0      5
1      1
2      4
3      2
4      5
5      4
6      5
7      5
8      5
9      5
10     5
11     5
12     1
13     4
14     5
15     5
16     2
17     5
18     5
19     5
20     5
21     5
22     5
23     5
24     5
25     5
26     1
27     4
28     5
29     5
      ..
970    5
971    5
972    5
973    5
974    4
975    5
976    4
977    5
978    5
979    5
980    5
981    5
982    5
983    5
984    5
985    5
986    5
987    5
988    5
989    5
990    5
991    5
992    5
993    5
994    5
995    5
996    5
997    5
998    1
999    2
Name: Score, Length: 1000, dtype: int64

In [171]:
#dt.Score.replace([5,4,3,2,1],[1,1,0,0,0])

In [172]:
# import numpy as np
dt['Score']=np.where(dt['Score']>3,1,0)

In [173]:
x=dt['Text']
y=dt['Score']

In [174]:
from sklearn.model_selection import train_test_split

In [175]:
x_tr,x_ts,y_tr,y_ts=train_test_split(x,y,test_size=0.2)

In [1]:
from sklearn.feature_extraction.text import CountVectorizer
# count vactorization convert to integer

In [177]:
#back of word

In [178]:
a=['hello welcome python']
cv=CountVectorizer().fit(a)

In [179]:
print(cv.transform(['hello bhai python python']))

# pahla 0 string ki indexing batata hai and 2nd 0 word index value a se

  (0, 0)	1
  (0, 1)	2

In [180]:
cv.vocabulary_

{'hello': 0, 'welcome': 2, 'python': 1}

In [181]:
vect=CountVectorizer().fit(x)
x_tr1=vect.transform(x_tr)
x_ts1=vect.transform(x_ts)

In [182]:
from sklearn.linear_model import LogisticRegression
algo=LogisticRegression()
algo.fit(x_tr1,y_tr)
algo.score(x_ts1,y_ts)

0.805

In [183]:
from sklearn.feature_extraction.text import TfidfVectorizer
# tfidf=terms frequency inverse document frequency
# tfidf float me convert karta hai.

In [184]:
a=['hello python','python welcome','welcome python']
tvect=TfidfVectorizer().fit(a)

In [185]:
tvect.idf_
# idf= inverse documentation frequency

array([1.69314718, 1.        , 1.28768207])

In [186]:
# idf=log((document no+1)/frequency+1)+1

# string=document

In [187]:
np.log(4/2)+1

1.6931471805599454

In [188]:
np.log(4/3)+1

1.2876820724517808

In [189]:
print(tvect.transform(['hello bhai python']))

  (0, 1)	0.5085423203783267
  (0, 0)	0.8610369959439764

In [190]:
algo.fit(x_tr1,y_tr)
algo.score(x_ts1,y_ts)

0.805

In [192]:
tvect=TfidfVectorizer().fit(x)
x_tr1=tvect.transform(x_tr)
x_ts1=tvect.transform(x_ts)

In [193]:
algo.predict(tvect.transform(['Horrible']))

array([1])