In [1]:
import pandas as pd

In [3]:
dt=pd.DataFrame({"x":["+52A","+62B","+44a","+30b"],"b":[1,2,3,4]})

In [4]:
dt

      x  b
0  +52A  1
1  +62B  2
2  +44a  3
3  +30b  4

## 1.method

In [7]:
dt.x.str.strip("+ABba").astype(int)

0    52
1    62
2    44
3    30
Name: x, dtype: int32

In [11]:
dt.x.str.replace(r"\D","").astype(float)

0    52.0
1    62.0
2    44.0
3    30.0
Name: x, dtype: float64

In [12]:
dt.x.str.replace(r"\D","").astype(int)

0    52
1    62
2    44
3    30
Name: x, dtype: int32

In [22]:
dt.x.str.replace(r"\D","").astype(str)  # \D means digits ko chodkar baki sabko hata dega

0    52
1    62
2    44
3    30
Name: x, dtype: object

In [19]:
dt.x.apply(lambda x:x.strip("+ABCab")).astype(int)

0    52
1    62
2    44
3    30
Name: x, dtype: int32