In [18]:
import pandas as pd
import numpy as np

In [19]:
dt=pd.read_csv("spam.tsv",sep="\t")

In [20]:
dt.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [21]:
dt.shape

(5572, 4)

In [33]:
x=dt.iloc[:,1].values
y=dt.iloc[:,0].values

In [23]:
from sklearn.model_selection import train_test_split

In [7]:
x_tr,x_ts,y_tr,y_ts=train_test_split(x,y,test_size=0.2,random_state=0)

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
cv=CountVectorizer()

In [10]:
test=cv.fit_transform(x_tr)
test2=cv.transform(x_ts)

In [16]:
dt.head()

   label                                            message  length  punct
0      3  Go until jurong point, crazy.. Available only ...     111      9
1      3                      Ok lar... Joking wif u oni...      29      6
2      4  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3      3  U dun say so early hor... U c already then say...      49      6
4      3  Nah I don't think he goes to usf, he lives aro...      61      2

In [11]:
from sklearn.naive_bayes import MultinomialNB

In [25]:
model=MultinomialNB()

In [26]:
model.fit(test,y_tr)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [28]:
model.score(test2,y_ts)

0.9874439461883409

In [46]:
text=["you have got free tickets to the USA this summer"]

In [47]:
t=cv.transform(text)

In [48]:
model.predict(t)

array(['spam'], dtype='<U4')

# second way

In [87]:
dt=pd.read_csv("spam.tsv",sep="\t")

In [88]:
dt.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [89]:
x=dt.iloc[:,1].values
y=dt.iloc[:,0].values

In [90]:
from sklearn.model_selection import train_test_split

In [91]:
x_tr,x_ts,y_tr,y_ts=train_test_split(x,y,test_size=0.2,random_state=0)

In [92]:
from sklearn.feature_extraction.text import CountVectorizer

In [93]:
from sklearn.naive_bayes import MultinomialNB

In [94]:
from sklearn.pipeline import Pipeline

In [95]:
pipe=Pipeline([("cv", CountVectorizer(stop_words="english")),("clf", MultinomialNB())])

In [96]:
pipe.fit(x_tr,y_tr)

Pipeline(memory=None,
         steps=[('cv',
                 CountVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words='english', strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('clf',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [97]:
pipe.score(x_ts,y_ts)

0.9865470852017937

In [98]:
pipe.predict(["this is a good news"])

array(['ham'], dtype='<U4')

In [99]:
pipe.predict(["you have got free tickets to the USA this summer"])

array(['spam'], dtype='<U4')

# by using tfidf

In [100]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [102]:
clf=Pipeline([("tfid",TfidfVectorizer()),("cls",MultinomialNB())])

In [103]:
clf.fit(x_tr,y_tr)

Pipeline(memory=None,
         steps=[('tfid',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('cls',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [104]:
clf.score(x_ts,y_ts)

0.9605381165919282